.add-option__error{
    color: $off-white;
    font-style: italic;
    margin: $regular;
    margin-bottom: 0;
    padding: 0 $regular;
}

.add-option{
    display: flex;
    padding: $regular;
}

.add-option__input{
    background: $dark-blue;
    border: none;
    border-bottom: 0.3rem solid darken($dark-blue, 10%);
    color: $off-white;
    font-weight: 700;
    margin-right: $small;
    padding: $regular;
    flex: 1;
}

.add-option__input::-moz-placeholder,
.add-option__input:-moz-placeholder,
.add-option__input:-ms-input-placeholder,
.add-option__input::-webkit-input-placeholder{
    color: $off-white;
}

@media (max-width: $mobile-breakpoint) {
    .add-option{
        flex-direction: column;
    }

    .add-option__input {
        margin-right: 0;
        margin-bottom: $small;
    }
}